.menuSectionV2{
    padding: 68px 128px;
    height: 90vh;
    background-color: var(--background-color);
    font-family: var(--font-family) !important;
}
.menuCategoryWrapperV2{
    display: block;
    text-align: center;
    max-width: 1100px;
    min-width: auto;
}
.foodCategoryTitle{
    position: relative;
    z-index: 1;
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    font-size: 34px;
    cursor: pointer;
    color: var(--font);
    background-color: var(--background-color);
}
.OuterBorder {
    margin-top: -20px;
    padding: 60px;
    border: 2px solid var(--primary);
}
.OuterBorderPosition {
    position: relative;
}
.SubCategoryTabs{
    flex-wrap: wrap;
    flex: 1 0 auto; 
}
.showInDesktop{
    display: block;
}
.showInMobile{
    display: none;
}
.FoodSubCategoryName{
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0px 20px;
    color: var(--font);
}
.categoryTab::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 30%;
    background-color: var(--primary);
}
.FoodItemOuterWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.FoodItemWrapper{
    text-align: left;
    padding: 10px;
}
.FoodItemName{
    position: relative;
    width: 175px;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-right: 1rem;
}
.FoodItemName::after{
    content: "";
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 60%;
    background-color: var(--primary);
}
.FoodItemPrice{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    white-space: nowrap;
}
.foodItemStyle{
    text-transform:uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
    white-space: break-spaces;
}


.show-image-carousel {
    z-index: 999;
  }
  .show-image-carousel .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
  }
  .show-image-carousel .img-show-carousel {
    width: 35rem;
    height: 35rem;
    background: #fff;
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
  }
  .img-show-carousel span {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
  }

  .img-show-carousel::-webkit-scrollbar {
    display: block;
  }
  .img-show-carousel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
  }
  .img-show-carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .image-carousel-biggerImage-close {
    color: white;
    float: right;
    z-index: 1000;
    font-size: 30px;
    cursor: pointer;
  }


.FoodItemDescription{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    min-height: 50px;
}
@media screen and (max-width: 1000px) {
    .FoodItemOuterWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .showInMobile{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .FoodItemOuterWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .mobileCenter{
        width: 100%;
    }
    .OuterBorder{
        padding: 30px;
    }
    .showInDesktop{
        display: none;
    }
    .showInMobile{
        display: block;
        width: 100%;
        margin: 20px;
        color: var(--font);
    }
    .showInMobile label{
        color: var(--font);
    }
    .MuiSelect-icon, .MuiInput-underline:after{
        color: var(--font) !important;
    }
    .MuiInput-underline:after, .MuiInput-underline:before{    
        border-bottom: 2px solid var(--font) !important;
    } 
    .MuiSelect-root .MuiSelect-select .MuiSelect-selectMenu .MuiInputBase-input .MuiInput-input{
        color: var(--font) !important;
    }
    .showInMobile label div input svg::after{
        color: var(--font) !important;
    } 
    .showInMobile .MuiSelect-select.MuiSelect-select{
        text-align: left;
        font-size: 16px;
        color: var(--font);
    }
    .menuSectionV2 {
        padding: 15px 15px;
        background-color: white;
    }
}
@media screen and (max-width: 350px) {
    .OuterBorder{
        padding: 10px;
    }
    .foodCategoryTitle{
        font-size: 24px;
    }
}